html {
  scroll-behavior: smooth;
}

.landing-hero main {
  width: 100%;
  height: calc(100vh - 4.5rem);
}

.landing-hero h1 {
  font-weight: bolder;
  color: var(--color-blue);
  margin: 0;
  padding: 0;
  line-height: 0.8;
  font-size: 6rem;
  text-transform: uppercase;
}

.landing-hero h1:nth-of-type(2) {
  color: var(--color-orange);
}

.landing-hero h3 {
  color: var(--color-orange);
}

.landing-hero main,
.landing-hero section {
  width: 100%;
  height: 100vh;
  padding: 15% 0 0 10%;
}

ul {
  padding: 0 0 0 15%;
  color: var(--theme-text-lighter);
}

span {
  display: block;
  padding: 1rem 0 0;
}

span > * {
  color: var(--color-gray-300);
}

a {
  color: inherit;
}

#contact h3 {
  color: var(--color-gray-300);
}

@media only screen and (max-width: 720px) {
  .landing-hero main {
    height: 100vh;
  }

  .landing-hero h1 {
    font-size: 4rem;
  }

  .landing-hero main,
  .landing-hero section {
    padding: 50% 5% 0 10%;
  }
}
